.wrap-cars-list{
    /* background-color: aquamarine; */
    position: relative;
}

.wrap-product{
    position: relative;
    z-index: -9999;
    margin: 70px;
    margin-left: 0;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    
}
.wrap-desc-simple{
    /* background-color: blueviolet; */
    font-size: 12px;
    opacity: 0.7px;
    height: 10%;
    line-height: 5px;
}
.main-wrap-konten {
    /* background-color: blanchedalmond; */
    width: 333px;
    height: 500px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow:  1px 1px 7px 0.3px rgb(186, 186, 186);
    margin-left: 30px;
    border-radius: 7px;
    /* background-color: aqua; */
}

.main-wrap-konten .card-konten{
    /* background-color: violet; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.main-wrap-konten .wrap-img{
    /* background-color: aquamarine; */
    width: 100%;
    height: 45%;
    
}

.wrap-img img{
    width: 100%;
    height: 100%;
}

.middle{
    /* background-color: blueviolet; */
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}

.middle .judul-artikel{
    margin-top: 0;
    font-weight: bold;
}
.middle .price-car{
    margin-top: -5px;
    font-weight: bold;
}

.main-wrap-konten .wrap-desc{
    padding: 5px;
    box-sizing: border-box;
    /* background-color: aquamarine; */
    height: auto;
}

.main-wrap-konten .wrap-desc p{
    /* font-size: 12px; */
    align-items: center;
    margin-bottom: 0;
}

.btn-detail{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 223, 82);
    color: aliceblue;
    font-weight: 600;
    
}

ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: absolute;
    /* background-color: red; */
}

li{
    list-style: none;
    margin-bottom: 20px;
}

.href{
    text-decoration: none;
}

.loading{
    /* width: 100%; */
    height: 150px;
    /* background-color: aquamarine; */
    position: absolute;
    z-index: -9999;
    left: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.notif-err{
    width: 350px;
    height: 80px;
    position: absolute;
    z-index: -9999;
    left: 700px;
    top: -20px;
    font-size: 18px;
}